{{#if error}}

<div class = "alert alert-danger">{{error}}</div>

{{/if}}

{{#each errors}}

<div class="alert alert-danger">{{text}}</div>

{{else}}


{{/each}}

this will be put in login.handlebars below h3