<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            
          <h3 class = "text-center">Motivated By Phoenicorn</h3>  
         
        </div>
    </div>
</div>