<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            
          <h3 class = "text-center">Phoenicorn</h3>  
          <form method = "post" action  = "/users/login" >
              <div class="form-group">
                <label for = "name">Name</label>
               <input type="text" class = "form-control"name ="name" required>
              </div>
                <div class="form-group">
                <label for = "comment">Comment</label>
               <input type="text" class = "form-control"
               name ="comment" required>
              </div>
              <button type="submit" class = "btn btn-primary">Submit</button>
          </form>
        </div>
    </div>
</div>